<ul>
      <li>{{name}}</li>
      <li>{{title}}</li>
      <li>{{entry}}</li>
      <li><img src={{image}} style="width: 300px; height: 200px"></li>
    </ul>
    <a href="/new-blog-post/{{id}}">Make new blog post</a>
    <br>
    <a href='/'>home</a>