 <ul>
      <li>{{name}}</li>
      <li><a href=mailto:{{email}}>{{email}}</a></li>
      <li><a href={{url}}>{{name}}</a></li>
      <li><img src={{profileImage}} style="width: 400px; height: 300px"></li>
    </ul>
    <a href="/new-blog-post/{{id}}">Make new blog post</a>
    <br>
    <a href='/'>home</a>