 <ul>
    {{#each profiles}}
      <li>{{name}}</li>
      <li><a href=mailto:{{email}}>{{email}}</a></li>
      <li><a href={{url}}>{{name}} Wiki</a></li>
      <li><img src={{profile_image}} style="width: 760px; height: 600px"></li>
    {{/each}}
    </ul>
    <a href='/'>home</a>